@use "./utils";

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.6rem !important;
}

ul {
  list-style: none;
  padding: 0 !important;
}
